
@media (max-width: 768px) {
    .post {
      max-width: 48%; 
    }
    .post h2{
        font-size: 12px;
    }
  }
  
  
  @media (max-width: 480px) {
    .post {
      max-width: 100%; 
    }
    .post h2{
        font-size: 10px;
    }
  }
  